main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 61px;
    gap: 35px;
}

.main-section {
    display: flex;
    justify-content: space-around;
    width: 820px;
}

.main-section i {
    margin-right: 10px;
}

.main-section img {
    height: inherit;
    width: 300px;
}

.main-subsection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 390px;
    height: 490px;
    
}

.main-subsection a {
    text-align: left;
    color: #1CB39B;
}

.main-subsection h2 {
    font-size: 33px;
    color: #1c1e21;
    font-weight: 400;
}

.first-paragraph-main {
    color: #1C1E2E;
    letter-spacing: .5px;
    font-size:  18px;
    line-height: 27px;
}

.second-paragraph-main {
    color: #5e5e5e;
    line-height: 22px;
    font-weight: 400;
}

.two-sections {
    display: flex;
    height: 897px;
    justify-content: space-between;
    width: 100%;
}

.block-position { 
    padding: 30px;
    width: 661px;
    letter-spacing: .5px;
    font-size: 18px;
    color: #1C1E2E
}

.left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D8E8EA;
    overflow: hidden;
    padding-bottom: 0;
}

.left-block-text{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;
    margin-top: 25px;
    
}

.left-block-text a{
    color: #39B3ED;
}

.left-block img {
    height: 465px;
    width: 400px;
    align-self: center;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7F0E4;
}

.circleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    background-color: #77D7C8;
    border-radius: 50%;
}

.right-block-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
   
}

.right-block-text p {
    width: 527px;
}

.right-block-text h4 {
    color: #5E5E5E
}

.btn-recursos {
    text-align: center;
    display: inline-block;
    border: 2px solid #77D7C8;
    color: #129AC1 ;
    font-weight: bold;
    font-size: 1em;
    border-radius: 50px;
    width: 170px;
    padding: 20px 0px;
}