@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Source+Sans+Pro:wght@200;300&display=swap');

main {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 90%;
    margin-left: 50px;
    padding-left: 15px;
}

main p {
    font-size: 40px;
    font-weight: bold;
}

.youcan {
    color: #6542AB;
    
}

.main-btn {
    display: inline-block;
    background-color: #7249C0;
    padding: 10px;
    width: fit-content;
    color: aliceblue;
    margin-top: 30px;
}