#logo{
    position: relative;
}

#logo * {
    transition: color .3s;
}

#logo i {
    position: absolute;
    top: -17px;
    left: -10px;
    transform: rotate(-30deg);
    font-size: 1.5em;
    color: #EA4C23;
}

#logo h1 span {
    color: var(--mainColor);
}

h1 {
    font-size: 2em;
}

@media screen and (max-width: 550px) {
    
    #menu {
        color: #fff;
    }

    #logo i {
        color: white;
        top: -18px;
    }

    h1{
        color: #fff;
    }

    #logo h1 span {
        color: white;
    }

}