header {
    position: sticky;
    top: 0px;
    display: flex;
    color: #ffff;
    height: 93px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #128C7E;
    font-weight: 400;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
}

.whatsapp-logo {
    display: flex;
    width: fit-content;
    font-size: 16px;
}

.language-selection{
    display: flex;
    justify-content: space-evenly;
    width: 83px;
}

.arrowdown {
    width: 1px;
    height: 1px;
}